<h1><a href="/urls">Bitly</a></h1>

<table>
<% if (user) {%>
  <tr>
    <td>
      <h2><%= user.id %></h2>
    </td>
    <td>
      <form action="/logout" method="POST">
      <input type="submit" value="Logout" name="logout"></form>
    </td>
  </tr>
<% } else{ %>

  <tr>
    <td>
      <h3><a href="/register">Register</a></h3>
    </td>
    <td>
      <h3><a href="/login">Sign in</a></h3>
    </td>
  </tr>
<% } %>
</table>
