<h1 style="align: center">Bitly</h1>
<table>
<% if (user) {%>
  <tr>
    <th>
       <h2><%= user.email %></a></h2>
    </th>
    <td></td>
    <td></td>
    <td>
      <form action="/logout" method="POST">
      <input type="submit" value="Logout" name="logout"></form>
    </td>
  </tr>
  <tr>
    <td>
      <h3><a href="/urls">My Links</a></h3>
  </tr>
<% } else{ %>

  <tr>
    <td>
      <h3><a href="/register">Register</a></h3>
    </td>
    <td>
      <h3><a href="/login">Sign in</a></h3>
    </td>
  </tr>
<% } %>
</table>
