<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
  <% for(keys in urls){ %>
    <li><%= keys %> : <%= urls[keys] %>
      <a>Shorten Url</a>
      <form method="POST" action="/urls/<%= keys %>/delete">
        <input type="submit" value="Delete">
      </form>
      <form method="GET" action="/urls/<%= keys %>">
        <input type="submit" value="Edit">
      </form>
    </li>
  <% }; %>
</ul>

</body>
</html>
