<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show URLs</title>
  <meta charset="utf-8">
</head>
<body>
  <header header style="padding: 20px">
    <% include ./partials/_header %>
  </header>
  <ul>
    <li><%= short %> : <%= long %>
    <form action="/urls/<%= short %>" method="POST">
      <input id="longURL2" type="text" name="longURL2" value="https://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    </li>

  </ul>
</body>
</html>
