<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
</head>
<body>
  <header header style="padding: 20px">
    <% include ./partials/_header %>
  </header>
  <tr>
    <th><h2>Sign in</h2></th>
  <tr>
    <td>
      <form action="/login" method="POST">
        <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="example@example.com">
        <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="">
          <button type="submit">Sign in</button>
      </form>
    </td>
  </tr>
</body>
</html>
